@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
<script src="js/Vote.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="output">123</div>
    <div id="container" style="min-width:400px;min-height:1000px"></div>
</div>
